.list {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: circle;
}
.listItem {
  margin-bottom: 16px;
}

.link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.link:hover {
  color: rgb(255, 74, 102);
}

.title {
  font-size: 18px;
  font-weight: 500;
}