.list {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: circle;
}
.listItem {
  margin-bottom: 16px;
  /* Отступ между элементами списка */
}

.link {
  text-decoration: none;
  /* Убирает подчеркивание ссылок */
  color: #333;
  /* Цвет текста по умолчанию */
  transition: color 0.3s;
  /* Плавный переход цвета при наведении */
}

.link:hover {
  color: rgb(255, 74, 102);
  /* Цвет при наведении */
}

.title {
  font-size: 18px;
  /* Размер шрифта заголовка */
  font-weight: 500;
  /* Полужирное начертание шрифта */
}