.headerNav {
  padding: 16px 24px;
  /* Уменьшил вертикальные отступы для более компактного вида */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /* Мягкая тень для более современного вида */
  margin-bottom: 20px;
  /* Уменьшил отступ снизу */
  background-color: #fff;
  /* Добавил фоновый цвет для контраста */
  border-bottom: 1px solid #e0e0e0;
  /* Тонкая граница для отделения от остального контента */
}

.navigation {
  display: flex;
  gap: 16px;
  /* Уменьшил промежуток между элементами */
}

.link {
  text-decoration: none;
  /* Убрал стандартное подчеркивание ссылок */
  color: #333;
  /* Темный цвет текста по умолчанию */
  font-size: 16px;
  /* Размер шрифта для навигационных ссылок */
  font-weight: 500;
  /* Полужирное начертание шрифта для навигационных ссылок */
  transition: color 0.3s;
  /* Плавный переход цвета при наведении */
}

.link:hover {
  color: rgb(255, 74, 102);
  /* Цвет при наведении */
}

.active {
  color: rgb(255, 74, 102);
  /* Цвет активной ссылки */
  font-weight: 700;
  /* Жирное начертание шрифта для активной ссылки */
}